$primary-color: #007bff;
$secondary-color: #6c757d;
$background-color: #f8f9fa;
$border-color: #ddd;
$hover-bg-color: #f3f3f3;

$error-color: #dc3545;
$success-color: #28a745;
$info-color: #17a2b8;
$warn-color: #ffc107;

* {
  font-family: 'Roboto', sans-serif;
}
